<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    body {
      display: flex;
      flex-direction: column;
    }
    main {
      flex: 1;
    }
  </style>
</head>
<body>
  {% include header.html %}
  <main>
    {{ content }}
  </main>

  <!-- Footer -->
  {% include footer.html %}
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>